body {
  background-color: rgb(125, 233, 233);
  margin-left: 300px;
  margin-right: 100px;
}

header {
  margin-top: 50px;
}

.menu li {
  color: bisque;
}

.menu li a {
  color: bisque;
  transition: 0.8s;
  text-decoration: none;
}
.menu li a:hover {
  color: rgb(71, 139, 241);
  margin: right 30px;
}
h1 {
  color: bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
  font-family: fantasy;
  color: rgb(71, 139, 241);
}
p {
  font-size: 18px;
}

.img_padrao {
  width: 300px;
  height: 250px;
  margin-bottom: 020px;
}


.logo_padrao {
  width: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  margin-bottom: 30px;
  margin-left: 700px;
}
